*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-primary-color: rgb(23, 23, 23);
    --bg-fill-colour: white;
    
    --text-primary-color: white;
    
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    --border-primary-color: rgb(92, 92, 92);
    
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 16px;
    --border-radius-lg: 24px;
    --border-radius-xl: 32px;
    --border-radius-2xl: 40px;
    --border-radius-3xl: 48px;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

main, section{
    height: 100%;
    width: 100%;
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex: 100%;
    gap: var(--space-lg);
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.block{
    /* width: 30px;
    height: 30px; */
    border: 1px solid var(--border-primary-color);
}

.fill{
    background-color: var(--bg-fill-colour);
}